:root {
  --color-light-green: #1cd81c;
  --color-black: rgb(32, 35, 41);
  --color-dark: rgb(60, 62, 68);
}

/* characterGrid */
.characterGrid {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  /* margin-left: 320px; */
  margin-top: 67px;
}

/* characterCard */
.characterCard {
  display: flex;
  background-color: var(--color-dark);
  color: white;
  width: 530px;
  height: 220px;
  overflow: hidden;
  border-radius: 0.5rem;
  margin: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.characterCard .info {
  padding-left: 15px;
}

.characterCard .name {
  font-size: xx-large;
  font-weight: 900;
}

.characterCard .statusSpecies {
  font-weight: 700;
}

.characterCard .bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* search bar */
.searchBar {
  height: 40px;
  width: 322px;
  background-color: lightgray;
  display: flex;
}
.searchBar input {
  border: none;
  outline: none;
  background: var(--color-dark);
  color: white;
  height: 100%;
  width: 266px;
  padding: 0 10px;
}
.searchBar .searchIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 56px;
}

/*header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-black);
  color: white;
  height: 67px;
  padding: 0 50px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}
.routes {
  display: flex;
  align-items: center;
  width: 294px;
  justify-content: space-between;
}

/*filter */
.filterBar {
  position: fixed;
  left: 0;
  top: 67px;
  background: var(--color-black);
  color: white;
  width: 320px;
  height: 100%;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 44px;
}
.filterBar .filters select {
  width: 250px;
  height: 37px;
  margin-bottom: 18px;
}
.filterBar .filters label {
  min-width: 76px;
  display: block;
  padding-bottom: 5px;
}
.toggleFilters {
  position: fixed;
  top: 81px;
  left: 25px;
  font-size: x-large;
  cursor: pointer;
}

/*Character details*/
/* .characterDetailsContainer {
  margin-top: 67px;
}
.characterDetails {
  display: flex;
} */
/* CharacterDetails.css */

.characterDetailsContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 34px;
}

.characterDetailsContainer .profile {
  display: flex;
}

.characterDetailsContainer .profile .image img {
  max-width: 191px;
  border-radius: 50%;
  margin-right: 50px;
}

.characterDetailsContainer .personalInfo {
  display: flex;
  align-items: center;
}

.characterDetailsContainer .personalInfo .badge {
  margin-left: 20px;
  background: #81d981;
  padding: 3px 20px;
  border-radius: 14px;
}
.characterDetailsContainer .personalInfo h2 {
  font-size: 35px;
  font-weight: 900;
}

.characterDetailsContainer .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.characterDetailsContainer .header h2 {
  color: #d0d0d0;
}

.characterDetailsContainer .header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.characterDetailsContainer .details {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.characterDetailsContainer .section {
  flex: 1;
  margin-right: 20px;
}

.characterDetailsContainer h3 {
  color: #333;
  margin-bottom: 10px;
}

.characterDetailsContainer p {
  margin: 10px 0;
  font-size: 16px;
  color: #555;
}

.characterDetailsContainer ul {
  list-style-type: none;
  padding: 0;
}

.characterDetailsContainer li {
  margin: 5px 0;
  font-size: 14px;
  color: #777;
}






@media only screen and (max-width: 1460px) {
  .characterGrid {
    grid-template-columns: auto;
  }
}